.container {
  max-width: 600px;
  margin: 0 auto;
}

.card {
  margin-top: 20px;
}

.card-body {
  padding: 20px;
}

.btn-danger {
  margin-left: 10px;
} 

.checked{
  color: white;
  background-color: gray;
}